@import "tailwindcss";

@theme inline {
  --font-cooper: var(--font-cooper-black);
  --font-maru: var(--font-zen-maru-gothic);
}

@layer components {
  .animate-out {
    @apply transition-all duration-200 ease-out
  }
}

.box {
  mask:
    radial-gradient(67.08px at 50% 90px, #000 99%, #0000 101%) calc(50% - 60px) 0/120px 100%,
    radial-gradient(67.08px at 50% -60px, #0000 99%, #000 101%) 50% 30px/120px 100% repeat-x;
}

button,
[role='button'] {
  cursor: pointer;
}