@import "tailwindcss";

@theme inline {
  --font-cooper: var(--font-cooper-black);
  --font-maru: var(--font-zen-maru-gothic);
}

@layer components {
  .animate-out {
    @apply transition-all duration-200 ease-out
  }
}

button,
[role='button'] {
  cursor: pointer;
}